body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
}

.navbar{
    background-color: rgb(60, 180, 80);
}
.mfc{
    width: 40vw;
    height: 35vh;
    border: 2px rgb(77, 7, 7) solid;
    margin-left: 10%;
}
.plx{
    width: 30vw;
    height: 40vh;
    border: 2px green solid;
    margin-left: 35%;
}
.hlx{
    height: 20vh;
    border: 2px rgb(255, 208, 0) solid;
    width: 50vw;
    margin-left: 3%;
}
.response{
    height: 40vh;
    width: 40vw;
    margin-left: 25%;
    margin-top: 1%;
}
.departments{
    margin: 2%;
}